services:
  pallasbot:
    container_name: pallasbot
    # image: ghcr.io/ylovexln/pallas-bot:beta
    image: ghcr.io/ylovexln/pallas-bot:latest
    network_mode: bridge  # 使用默认的Docker桥接网络，不创建新网络
    restart: always
    ports:
      - 8088:8088
    environment:
      TZ: Asia/Shanghai
      ENVIRONMENT: prod
      APP_MODULE: bot:app
      MAX_WORKERS: 1
      NAPCAT_UID: $(id -u)
      NAPCAT_GID: $(id -g)
    volumes:
      - ./resource/:/app/resource
      - ./.env:/app/.env
      - ./data:/app/data
      - ./data/bilichat/cache:/root/.cache/nonebot2/nonebot_plugin_bilichat
      - ./data/bilichat/local:/root/.local/share/nonebot2/nonebot_plugin_bilichat
      - ./ms-playwright:/root/.cache/ms-playwright

